div.tablebox{
  display: table;
  table-layout: fixed;
  margin: 0 auto;
}

div.buttonbox{
  display: table;
  text-align:center;
  table-layout: fixed;
  margin: 0 auto;
}

form {
  display: inline;
  border: none;
  margin: 0px auto;
  padding: 0px;
}

button.overall_button {
  width:100px;
  font-size:16px;
  font-weight:bold;
  text-decoration:none;
  display:inline-block;
  text-align:center;
  padding:4px 0 4px;
  background-color:#CCFF66;
  margin: 0px 20px;
  /*ボタンの角を丸める*/
  -moz-border-radius: 50px;    /* Firefox */
  -webkit-border-radius: 50px; /* Safari,Chrome */
  border-radius: 50px;         /* CSS3 */
}

button.individual_button {
  width:100px;
  font-size:16px;
  font-weight:bold;
  text-decoration:none;
  display:inline-block;
  text-align:center;
  padding:4px 0 4px;
  background-color:#FFFF66;
  margin: 0px 20px;
  /*ボタンの角を丸める*/
  -moz-border-radius: 50px;    /* Firefox */
  -webkit-border-radius: 50px; /* Safari,Chrome */
  border-radius: 50px;         /* CSS3 */
}

button.back_button {
  width:140px;
  font-size:16px;
  font-weight:bold;
  color: white;
  background-color: blue;
  display:inline-block;
  text-align:center;
  padding:4px 0 4px;
  margin: 0px 20px;
  /*ボタンの角を丸める*/
  -moz-border-radius: 50px;    /* Firefox */
  -webkit-border-radius: 50px; /* Safari,Chrome */
  border-radius: 50px;         /* CSS3 */
}
button.csv_download {
  width:150px;
  font-size:16px;
  font-weight:bold;
  color: white;
  background-color: #FF9900;
  display:inline-block;
  text-align:center;
  padding:4px 0 4px;
  margin: 0px 20px;
  /*ボタンの角を丸める*/
  -moz-border-radius: 50px;    /* Firefox */
  -webkit-border-radius: 50px; /* Safari,Chrome */
  border-radius: 50px;         /* CSS3 */
}

button.student_registration {
  width:110px;
  font-size:16px;
  font-weight:bold;
  color: white;
  background-color: #6699FF;
  display:inline-block;
  text-align:center;
  padding:4px 0 4px;
  margin: 0px 20px;
  /*ボタンの角を丸める*/
  -moz-border-radius: 50px;    /* Firefox */
  -webkit-border-radius: 50px; /* Safari,Chrome */
  border-radius: 50px;         /* CSS3 */
}

button.logout {
  width:120px;
  font-size:16px;
  font-weight:bold;
  color:white;
  background-color:red;
  display:inline-block;
  text-align:center;
  padding:4px 0 4px;
  margin: 0px 20px;
  /*ボタンの角を丸める*/
  -moz-border-radius: 50px;    /* Firefox */
  -webkit-border-radius: 50px; /* Safari,Chrome */
  border-radius: 50px;         /* CSS3 */
}

table.all_date {
  width: auto;
  border-collapse: collapse;
  font-size:25px;
}

table.all_date tr td {
  font-size:16px;
  border-top: 1px solid #84b2e0;
  border-bottom: 1px solid #84b2e0;
  border-left: 1px solid #84b2e0;
  border-right: 1px solid #84b2e0;
  text-align: center;
}

.student_id{
  width:120px;
  font-size: 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.name{
  width:130px;
  font-size: 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.date{
  width:70px;
  font-size: 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.total{
  width:60px;
  font-size: 16px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
